// VARIABLES COULEURS
@font-face {
    font-family: "Circular pro";
    src: url("/font/CircularStd-Bold.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Circular pro";
    src: url("/font/CircularStd-Medium.otf");
    font-weight: 700;
}

@font-face {
    font-family: "Circular pro";
    src: url("/font/CircularStd-Light.otf");
    font-weight: 300;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);
$font: "Circular pro";
$h1-size:30px;
$shadow:8px 8px 20px rgba(0,
0,
0,
0.5),
-8px -8px 20px rgba(255,
255,
255,
0.2);
$shadow-hover:8px 8px 20px rgba(0,
0,
0,
0.5),
-8px -8px 20px rgba(255,
255,
255,
0.2),
inset 8px 8px 20px rgba(0,
0,
0,
1),
inset -8px -8px 20px rgba(255,
255,
255,
0.2);
$background-color: #080a13;
$primary-color:white;
$secondary-color:linear-gradient(blue,
cyan);
$fmenu-size: 3rem !default;
$fmenu-bg: #505050 !default;
$fmenu-color-base: #283661 !default;
$fmenu-color-hover: #ffd53e !default;
$fmenu-item-space: 1rem !default;
$fmenu-item-label-size: 1rem !default;
$fmenu-item-expand-speed: .4s !default;
$fmenu-item-color-speed: .3s !default;
$fmenu-list-max-width: 250px !default;
$fmenu-list-font-size: .85rem !default;
$fmenu-list-border-sep: 1px solid rgba(0,
0,
0,
.15) !default;
$fmenu-list-hover-color: #ffd53e !default;
$fmenu-list-expand-speed: .6s !default;
$fmenu-list-opacity-speed: .3s !default;

$roboto: 'Roboto', sans-serif;
//Responsive


$breakpoints: (
  'small':  ( min-width:  767px ),
  'medium': ( min-width:  992px ),
  'large':  ( min-width: 1200px )
) !default;
$roboto: 'Roboto',
sans-serif;
$orbitron: 'Orbitron';
//$primary: blue; 
// $secondary: white;
