@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);
@font-face {
  font-family: "Circular pro";
  src: url("/font/CircularStd-Bold.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Circular pro";
  src: url("/font/CircularStd-Medium.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Circular pro";
  src: url("/font/CircularStd-Light.otf");
  font-weight: 300;
}
:root {
  --mouse-x: 0;
  --mouse-y: 0;
}

:root[data-theme=theme-original] {
  --text-color: #e3f5fc;
  --bg-color: #080a13;
}

:root[data-theme=theme-green] {
  --bg-color: #185427;
  --text-color: #e3f5fc;
}

:root[data-theme=theme-red] {
  --text-color: #e3f5fc;
  --bg-color: rgb(124, 0, 0);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  background-color: var(--bg-color);
  overflow: hidden;
  transition: 1s ease-in;
}

span {
  font-family: "Circular pro";
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
  padding: 10px 200px 10px 200px;
  font-family: "Roboto", sans-serif;
}
header h1 {
  font-family: "Circular pro";
  font-weight: 900;
}
header .connect_status {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 25%;
}
header .connect_status .light {
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background-color: #8cffd2;
  border-radius: 100%;
  box-shadow: 0 0 8px lime, 0 0 8px lime, 0 0 8px lime;
  animation: animlight 3s infinite;
}
@keyframes animlight {
  0% {
    box-shadow: 0 0 8px lime, 0 0 8px lime, 0 0 8px lime;
  }
  50% {
    box-shadow: 0 0 2px lime, 0 0 2px lime, 0 0 2px lime;
  }
  100% {
    box-shadow: 0 0 8px lime, 0 0 8px lime, 0 0 8px lime;
  }
}

.logo {
  width: 50%;
  text-align: center;
}

ul.fmenu {
  color: #283661;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  width: 25%;
  justify-content: flex-end;
}
ul.fmenu > li.fmenu-item {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}
ul.fmenu .trigger-menu {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  overflow: hidden;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5), -1px -1px 2px 0px rgba(88, 102, 181, 0.2);
  cursor: pointer;
  transition: max-width ease 0.4s;
}
ul.fmenu .trigger-menu a.fa.fa-user-o::before {
  list-style-type: none;
  color: white;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
ul.fmenu .trigger-menu a.fa.fa-user-o:hover {
  transition: 0.3s ease-in-out;
  filter: drop-shadow(0 0 5px #a6d4ff) drop-shadow(0 0 10px #4990fa);
}
ul.fmenu .trigger-menu i {
  display: block;
  margin: 0 0.2925rem;
  color: white;
  font-size: 1.5rem;
  transition: color ease 0.3s;
}
ul.fmenu .trigger-menu.expanded {
  max-width: unset;
}
ul.fmenu .trigger-menu.open i {
  color: #ffd53e;
}
ul.fmenu .trigger-menu:hover:not(.expanded) i {
  color: #ffd53e;
}
ul.fmenu .floating-menu {
  display: none;
  position: absolute;
  top: 3.75rem;
  right: 0px;
  min-width: 100%;
  max-width: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #080a13;
  box-shadow: 1px 1px 13px black, -1px -1px 4px #283052;
  border-radius: 0.75rem;
  z-index: 100;
  transition: max-height ease 0.6s, opacity ease 0.3s;
}
ul.fmenu .floating-menu > li {
  padding: 0 0.5rem;
}
ul.fmenu .floating-menu > li a {
  color: white;
  font-size: 0.85rem;
  font-family: "Circular pro";
  font-weight: 900;
  text-decoration: none;
  display: block;
  padding: 0.75rem 0.5rem;
}
ul.fmenu .floating-menu > li a i {
  margin-right: 1ch;
}
ul.fmenu .floating-menu > li a:hover {
  color: white;
  text-shadow: 0 0 5px #a6d4ff, 0 0 10px #4990fa, 0 0 20px #1362da;
  transition: 0.3s ease-in-out;
}
ul.fmenu .floating-menu > li:not(:last-child) a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -100px;
}
.container .circlepop {
  height: 150%;
  width: 150%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: #080a13;
  align-items: center;
  display: flex;
  z-index: 9;
}
.container .circlepop .loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;
  position: absolute;
}
.container .circlepop .loading-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background: conic-gradient(from 0deg at 50% 50%, #6f7bf7 0%, #9bf8f4 0%, #040813 100%);
  border-radius: 100px;
  box-shadow: 4px 4px 16px rgba(255, 0, 173, 0.13), -4px -4px 16px rgba(0, 243, 255, 0.1);
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container .circlepop .loading-count {
  content: " ";
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  left: 3px;
  width: 174px;
  height: 174px;
  border-radius: 100px;
  background: #070a13;
  box-shadow: 2px 2px 8px #040509 inset, -2px -2px 5px #70b8e6 inset;
  animation: spin 1s infinite linear reverse;
}
.container .circlepop .loading-count #loadingNumber {
  font-size: 4em;
}
.container .circlepop .cir {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 3px 3px 6px 0px #00000024 inset, inset -2px -2px 6px 0px #0c0f1b;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container .circlepop .cir h1 {
  color: white;
  font-family: "Circular pro";
  font-size: 70px;
  letter-spacing: 15px;
}
.container .section_date {
  display: none;
  width: 100%;
  height: 100%;
  padding: 0px 200px 0px 200px;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
  /* Style for theme switch btn */
}
.container .section_date .page-header {
  font-size: 2rem;
  color: var(--main-text-color);
  padding: 2rem 0;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: all ease 0.2s;
}
.container .section_date .section_clock {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .section_date .section_clock .clock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  background-image: url("https://imvpn22.github.io/analog-clock/clock.png");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 4px solid var(--main-bg-color);
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}
.container .section_date .section_clock .clock:before {
  content: "";
  height: 0.75rem;
  width: 0.75rem;
  background-color: var(--main-text-color);
  border: 2px solid var(--main-bg-color);
  position: absolute;
  border-radius: 50%;
  z-index: 1000;
  transition: all ease 0.2s;
}
.container .section_date .section_clock .clock .hour,
.container .section_date .section_clock .clock .min,
.container .section_date .section_clock .clock .sec {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.container .section_date .section_clock .clock .hour {
  height: 10em;
  width: 10em;
}
.container .section_date .section_clock .clock .hour:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 6px;
  background-color: var(--main-text-color);
  border-radius: 6px;
}
.container .section_date .section_clock .clock .min {
  height: 12em;
  width: 12em;
}
.container .section_date .section_clock .clock .min:before {
  content: "";
  height: 50%;
  width: 4px;
  background-color: var(--main-text-color);
  border-radius: 4px;
}
.container .section_date .section_clock .clock .sec {
  height: 13em;
  width: 13em;
}
.container .section_date .section_clock .clock .sec:before {
  content: "";
  height: 60%;
  width: 2px;
  background-color: #f00;
  border-radius: 2px;
}
.container .section_date .switch-cont {
  margin: 2em auto;
  /* position: absolute; */
  bottom: 0;
}
.container .section_date .switch-cont .switch-btn {
  font-family: monospace;
  text-transform: uppercase;
  outline: none;
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all ease 0.3s;
}
.container .section_date .date {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.container .section_date .date .date_text {
  margin-bottom: 70px;
}
.container .section_date .date .date_text h1 {
  color: white;
  font-family: "Circular pro";
  font-size: 70px;
  margin: 0;
  line-height: 80px;
}
.container .section_date .date .date_text p {
  margin: 0;
  font-family: "Circular pro";
  color: #8a8a8a;
  font-size: 24px;
  font-weight: 300;
}
.container .section_date .date .box_date {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 4px 4px 15px black, -1px -1px 10px #1f2339;
}
.container .section_date .date .box_date .box_text {
  color: white;
  padding: 30px 30px 10px 30px;
}
.container .section_date .date .box_date .box_text h1 {
  color: white;
  text-align: left;
  font-family: "Circular pro";
  font-size: 20px;
  font-weight: 900;
}
.container .section_date .date .box_date .form_date .input_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 30px;
}
.container .section_date .date .box_date .form_date .input_form #rental_date {
  width: 45%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1px solid #7c7c7c;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.container .section_date .date .box_date .form_date .input_form #rental_date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.container .section_date .date .box_date .form_date .input_form #return_date {
  width: 45%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 1px solid #7c7c7c;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.container .section_date .date .box_date .form_date .input_form #return_date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.container .section_date .date .box_date .form_date #date_ok {
  width: 100%;
}
.container .section_date .date .box_date .form_date #next3 {
  width: 100%;
  background: #e00045;
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  color: white;
  font-family: "Circular pro";
  font-size: 18px;
  font-weight: 900;
  border: none;
  box-shadow: 0px 40px 50px #e000454f, inset 0px 0px 9px 4px #ffffff45;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.container .account {
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: #080a13db;
  backdrop-filter: blur(12px);
  z-index: 99999999;
  border: 1px solid #ffffff1c;
  border-radius: 19px;
  color: white;
  font-family: "Circular pro";
  font-weight: 900;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transform: translate(250%);
  transition: 0.3s ease-in-out;
  transition-delay: 0.2s;
}
.container .account #close {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
  display: none;
}
.container .account .navmenu {
  display: none;
}
.container .content {
  padding: 0px 200px 0px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.container .content .text_section {
  width: 50%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.container .content .text_section span.heading {
  font-weight: 900;
  font-size: 60px;
}
.container .content .text_section h1 {
  font-size: 60px;
}
.container .content .text_section input[type=button] {
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  font-weight: 100;
  color: white;
  font-family: "Circular pro";
  font-weight: 900;
  font-size: 20px;
  box-shadow: 8px 8px 20px black, -2px -2px 7px 0px rgba(93, 147, 185, 0.2);
  transition: 0.3s ease-in;
  cursor: pointer;
}
.container .content .text_section input[type=button]:nth-child(1) {
  filter: none;
}
.container .content .text_section input[type=button]:hover {
  box-shadow: inset 5px 5px 12px #030407, inset -5px -5px 12px #0d101d;
  transition: 0.3s ease-in;
  transform: scale(0.95);
  text-shadow: 0 0 2px #8ec6e11a, 0 0 10px #9ffdff, 0 0 20px #0047ff, 0 0 25px #8ec6e11a, 0 0 30px #9ffdff, 0 0 40px #0047ff;
}
.container .content .img_car {
  width: 50%;
}
.container .content .img_car img {
  max-height: 50vh;
}
.container .section_adress {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 200px 0px 200px;
  display: none;
  transition: 1s ease-in;
}
.container .section_adress #output {
  width: 50%;
  margin-top: 60px;
  border-radius: 100%;
  color: #ffffff;
  text-shadow: 0 0 20px #00c8ff;
  font-family: "Inconsolata", monospace;
  line-height: 0.55em;
  text-rendering: optimizeSpeed;
  will-change: contents;
  white-space: pre;
}
.container .adress {
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.container .adress .adress_text {
  margin-bottom: 70px;
}
.container .adress .adress_text h1 {
  color: white;
  font-family: "Circular pro";
  font-size: 50px;
  margin: 0;
  line-height: 80px;
}
.container .adress .adress_text p {
  margin: 0;
  color: #8a8a8a;
  font-family: "Circular pro";
  font-weight: 300;
  font-size: 24px;
}
.container .adress .box_adress {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 4px 4px 15px black, -1px -1px 10px #1f2339;
}
.container .adress .box_adress .box_text {
  color: white;
  padding: 30px 30px 10px 30px;
}
.container .adress .box_adress .box_text h1 {
  color: white;
  text-align: left;
  font-family: "Circular pro";
  font-size: 20px;
  font-weight: 900;
}
.container .adress .box_adress #reservation_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;
}
.container .adress .box_adress #reservation_form #search_input {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 80%;
  color: white;
  box-shadow: inset 2px 2px 6px black, inset -2px -2px 4px #3a46794d;
}
.container .adress .box_adress #reservation_form #search_input:focus {
  border: none;
}
.container .adress .box_adress #reservation_form #search_input::placeholder {
  color: #616161;
}
.container .adress .box_adress #reservation_form #next2 {
  width: 100%;
  background: #e00045;
  border-radius: 20px;
  padding: 10px 50px 10px 50px;
  color: white;
  font-family: "Circular pro";
  font-size: 18px;
  font-weight: 900;
  border: none;
  box-shadow: 0px 40px 50px #e000454f, inset 0px 0px 9px 4px #ffffff45;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.container .adress .box_adress #reservation_form #next2:hover {
  transition: 0.3s ease-in;
  box-shadow: 0px 40px 50px #e000454f, inset 2px 2px 9px 1px rgba(0, 0, 0, 0.473), inset -1px -1px 2px 0px #f26590;
  transform: scale(0.98);
}
.container .car_select {
  display: none;
  width: 100%;
  margin-top: -170px;
  transition: 1s ease-in-out;
}
.container .car_select #left {
  position: fixed;
  top: 35%;
  left: 10%;
  font-size: 61px;
  color: white;
}
.container .car_select #right {
  position: fixed;
  top: 35%;
  right: 10%;
  font-size: 61px;
  color: white;
}
.container .car_select .car_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 200px;
}
.container .car_select .car_info .car_name {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 131px;
}
.container .car_select .car_info .car_name h1 {
  color: white;
  font-family: "Circular pro";
  font-weight: 900;
  font-size: 250px;
  margin-bottom: -150px;
  margin-top: 0;
}
.container .car_select .car_info .car_name .inner_shadow {
  color: transparent;
  text-shadow: 0 0 20px #185427, 0 0 0 #000000a6;
  font-family: "Circular pro";
  font-size: 60px;
}
.container .car_select .car_info .car_img {
  width: 70%;
  margin: 50px;
}
.container .car_select .car_info img {
  width: 100%;
}
.container .car_select .car_stat {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}
.container .car_select .car_stat .stat {
  color: #727272;
  font-size: 30px;
  font-family: "Circular pro";
  font-weight: 300;
  margin: 0px 50px;
  text-transform: uppercase;
}
.container .car_select .category_select {
  height: 60px;
  width: 100%;
  background: #1b1b1b;
  line-height: 60px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.container .car_select .category_select nav {
  position: relative;
  display: flex;
}
.container .car_select .category_select nav label {
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 1;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container .car_select .category_select nav label a {
  position: relative;
  z-index: -1;
  color: #ffffff;
  font-family: "Circular pro";
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  transition: color 0.6s ease;
}
.container .car_select .category_select nav #home:checked ~ label.home a,
.container .car_select .category_select nav #inbox:checked ~ label.inbox a,
.container .car_select .category_select nav #contact:checked ~ label.contact a,
.container .car_select .category_select nav #heart:checked ~ label.heart a,
.container .car_select .category_select nav #about:checked ~ label.about a {
  color: var(--bg-color);
}
.container .car_select .category_select nav label a i {
  font-size: 25px;
  margin: 0 7px;
}
.container .car_select .category_select nav .tab {
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 50px;
  background: white;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.container .car_select .category_select nav #inbox:checked ~ .tab {
  left: 20%;
}
.container .car_select .category_select nav #contact:checked ~ .tab {
  left: 40%;
}
.container .car_select .category_select nav #heart:checked ~ .tab {
  left: 60%;
}
.container .car_select .category_select nav #about:checked ~ .tab {
  left: 80%;
}
.container .car_select .category_select nav input {
  display: none;
}
@media (max-width: 599px) {
  .container header {
    padding: 10px 50px;
  }
}
@media (max-width: 599px) {
  .container .container {
    margin-top: 0;
    padding: 50px 50px 50px 50px;
    width: auto;
    height: 100%;
  }
}
@media (max-width: 599px) {
  .container .container .content {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }
}
@media (max-width: 599px) {
  .container .container .content .text_section {
    text-align: center;
    width: 100%;
    font-size: 15px;
  }
}
@media (max-width: 599px) {
  .container .container .content .img_car {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .container .container .content .img_car .img_car img {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .container .container .section_adress {
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 599px) and (max-width: 599px) {
  .container .container .section_adress #output {
    display: flex;
    justify-content: center;
    font-size: 40%;
  }
}
@media (max-width: 599px) and (max-width: 599px) {
  .container .container .section_adress .adress_text {
    text-align: center;
  }
}
@media (max-width: 599px) and (max-width: 599px) {
  .container .container .section_adress .box_adress {
    width: 100%;
  }
}

.header-rentals {
  background-color: #080a13;
  justify-content: center;
}

.container-rentals {
  background-color: #080a13;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100vh;
}
.container-rentals p:first-child {
  margin: 0;
}
.container-rentals .content-rentals {
  color: white;
  font-family: "Circular pro";
  font-weight: 900;
  font-size: 20px;
  box-shadow: 8px 8px 20px black, -2px -2px 7px 0px rgba(93, 147, 185, 0.2);
  cursor: pointer;
  height: 50vh;
  border-radius: 12px;
  margin-top: 30px;
  width: 20%;
}
.container-rentals .content-rentals p {
  color: #0BFDFD;
}
.container-rentals .content-rentals p .reservation-date-time {
  color: white;
  display: block;
}

/*# sourceMappingURL=app.css.map */
